.article {
  width: 100%;
  height: 100%;
  display: flex;

  .__sectionWrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;

    .__wrapper {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      margin-top: 2rem;
    }
  }
}
