.heroWrapper {
  position: relative;
  width: 100vw;
  height: 70vh;
  box-shadow: inset 0px 0px 40px 40px #92e6f5;

  .heroImage {
    object-fit: cover;
    -webkit-filter: opacity(49%);
    filter: opacity(49%);
    object-position: bottom;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  h1 {
    margin: 0;
    font-size: 7rem;
  }

  h2 {
    font-size: 3rem;
    color: rgb(22, 21, 21);
    margin: 0;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }

  @keyframes scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  ///////////// RESPONSIVE /////////////////
  @media (max-width: 1200px) {
    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  @media (max-width: 768px) {
    height: 60vh;

    h1 {
      font-size: 3rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .heroContent {
      padding: 0 20px;
    }
  }

  @media (max-width: 576px) {
    height: 50vh;

    h1 {
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    .heroContent {
      padding: 0 10px;
    }
  }
}
