.navbarMenu {
  display: flex;
  height: auto;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  flex-wrap: wrap;
  align-content: center;
  background-color: none;
  z-index: 10;

  .__navbarMenu_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;

    .__navbarMenu_container__link {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      position: relative;
    }
    &:hover .submenu {
      display: flex;
      -webkit-filter: opacity(59%);
      filter: opacity(59%);
    }

    .__link {
      display: flex;
      width: auto;
      height: auto;
      padding: 1rem;
      align-content: center;
      align-items: center;
      color: rgb(43, 41, 41);

      &:hover {
        color: gray;
      }
    }

    .submenu {
      display: none;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 12px;
      background: linear-gradient(to top, #a7ebf7, #e9e6e6, #f3d3ed, #c8c6ed);
      margin-top: -1.5rem;
      width: 18rem;
      height: auto;

      .categoryLink {
        padding: 4px 0 4px 22px;
        width: auto;
        height: auto;
        display: block;
        color: #000;
        font-size: 1rem;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 1440px) {
  .navbar {
    display: flex;

    .__navbar_container {
      display: flex;

      .__link {
        display: flex;
        width: auto;
        font-size: 22px;
        text-align: center;
        justify-content: center;
        padding: 0.5rem;
      }
    }
  }
}
