.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  bottom: 15rem;
  right: 20px;
  background: transparent;
  border: none;
}

.scrollToTopButton.visible {
  opacity: 1;
  z-index: 4;
}
