.plusDetails__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 90vh;

  .plusDetails__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    // border: 4px solid blue;
    width: 70%;
    height: auto;

    .plusDetails__title {
      text-align: center;
    }

    .gallery__container {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
  }
}
