.categoriespages__section {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  border: 3px solid green;

  .categoriespages__container {
    display: flex;
    flex-direction: column;
    // border: 3px solid gray;
    border-radius: 30px;
    padding: 1rem;
    width: 12rem;
    height: 21rem;

    .images {
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      padding: 0.5rem;
    }

    .categoriespages__infos {
      width: 100%;
      height: auto;

      .infos_type {
        color: gray;
      }

      .categoriespages__link {
        display: flex;
        width: auto;
        height: auto;
        color: gray;
      }
    }
  }
}
