.categoriespages__section {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  flex-direction: column;
  flex-wrap: wrap;

  .categoriespages__container {
    display: flex;
    padding: 1rem;
    width: auto;
    height: auto;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
      justify-content: center;
      color: gray;
    }

    .images {
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      padding: 0.5rem;
      justify-content: center;
    }

    .categoriespages__infos {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: auto;
      flex-direction: column;
      padding: 0 2rem 1rem;

      .infos_type {
        color: gray;
      }

      .categoriespages__link {
        display: flex;
        width: auto;
        height: auto;
        color: gray;
      }
    }
  }
}
