.categoryDetails__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;

  .categoryDetails__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 70%;
    height: auto;

    .categoryDetails__title {
      text-align: center;
    }

    .gallery__container {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
    }
  }
  .carouselBelike_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 2rem;
  }
}

//////////////// RESPONSIVE ///////////////
@media (max-width: 1200px) {
  .categoryDetails__container {
    .categoryDetails__content {
      padding: 2rem;
      width: 100%;
      height: auto;
      .gallery__container {
        .gallery__content {
          display: flex;
          width: 100%;
          flex-direction: column;

          .products__infos {
            padding: 0;
          }
        }
      }
    }
    .carouselBelike_container {
      padding: 1rem;
    }
  }
}
