.starDetails__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .starDetails__title {
    text-align: center;
  }

  .gallery__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .gallery__content {
    display: flex;
    flex-direction: row;
  }

  .productsText__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .products__content {
    display: flex;
    flex-direction: column;

    .priceContent {
      font-weight: bold;
    }
  }

  .refProducts_categories {
    color: gray;
    font-size: 8px;
  }

  .btns_products {
    display: flex;
    flex-direction: column;

    .addToBagBtn,
    .checkoutNowBtn {
      margin: 0.5rem;
      width: 18rem;
    }
  }
}
