@import "../../style/scss-variables";

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  width: 100%;
  height: 100%;
  border-top: 1px solid $clear-gray;

  .__container {
    display: flex;
    align-items: center;
    bottom: 0;
    width: auto;
    color: $clear-gray;
    background: transparent;
    height: auto;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;

    .__logo {
      display: flex;
      width: 100%;
      height: auto;
      .__img {
        max-height: 4rem;
        border: 3px solid yellow;
        object-fit: contain;
      }
    }

    .__copyright {
      display: flex;
      flex-wrap: wrap;
      color: $clear-gray;
      font-size: 14px;
      width: 100%;
    }

    ul {
      display: flex;
      align-items: center;
      text-decoration: none;
      list-style-type: none;
      height: auto;
      width: auto;

      li {
        padding: 8px;
        font-size: small;

        a {
          color: inherit;
          font-size: 12px;
        }
        a:hover {
          background-image: linear-gradient(
            135deg,
            #ff1e9c99,
            #ff1ea499,
            #ff1fbc99,
            #ff1fde99,
            #f620ff99,
            #c721ff99,
            #9723ff99,
            #6a24ff99,
            #4125ff99,
            #252aff99,
            #2641ff99,
            #2649ff99
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
//////////////////////// RESPONSIVE ///////////////////////////////
@media only screen and (max-width: 768px) {
  .footer {
    .__container {
      width: 100%;
      justify-content: start;
    }
  }
}
