@import "../../style/scss-variables";

.footer {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;

  .footer__container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    bottom: 0;

    .__container__bg {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      z-index: 2;
    }

    .bg_img {
      z-index: -5;
      position: relative;
      object-position: top;
    }
    .__logo {
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    ul {
      display: flex;
      align-items: center;
      text-decoration: none;
      list-style-type: none;
      height: 100%;
      width: auto;
      z-index: 3;
      padding: 2rem;

      li {
        width: auto;
        height: auto;
        z-index: 2;
        justify-content: center;
        padding: 2rem;
        a {
          color: inherit;
          font-size: 12px;
        }
        a:hover {
          background-image: linear-gradient(
            135deg,
            #ff1e9c99,
            #ff1ea499,
            #ff1fbc99,
            #ff1fde99,
            #f620ff99,
            #c721ff99,
            #9723ff99,
            #6a24ff99,
            #4125ff99,
            #252aff99,
            #2641ff99,
            #2649ff99
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }

      .infos {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
      }
      .__copyright {
        display: flex;
        flex-wrap: wrap;
        color: $clear-gray;
        font-size: 16px;
        width: auto;
      }
    }
  }
  h3 {
    color: #fff;
    font-size: 2rem;
  }
  P {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
//////////////////////// RESPONSIVE ///////////////////////////////
@media only screen and (max-width: 768px) {
  .footer {
    .__container {
      width: 100%;
      justify-content: start;
    }
  }
}
