// Variables
$blue: blue;
$turquoise: turquoise;
$hover-background-color: rgba(255, 255, 255, 0.7);
$border-width: 3px;
$font-size: 4rem;
$img-width: 100%;
$img-height: 100%;

.carouselBeLike_container {
  position: relative;
  width: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselBeLike {
  display: inline-block;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carouselBeLike_slide {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: transform 0.5s ease;
}

.carouselBeLike_item {
  flex: 0 0 100%; // Each item takes full width
}

.inner_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.image_container {
  display: flex;
  width: auto;
  height: $img-height;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carouselBeLike_img {
  width: 100%;
  height: $img-height;
  overflow: hidden;
  //   border: 4px solid $turquoise;
}

.title_content {
  text-align: center;
  margin-top: 10px;
}

.prev_button,
.next_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: $font-size;
  cursor: pointer;
  z-index: 10;
  color: #000;
  border: none;
  &:hover {
    background-color: $hover-background-color;
  }
}

.prev_button {
  left: 10px;
}

.next_button {
  right: 10px;
}
