.select_categories {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: --border-radius;
  padding: 3rem;
  position: relative;

  .select_categories__header {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;

    .title {
      display: flex;
      position: relative;
      z-index: 1;
      padding: 2rem;
      width: 100%;
      height: auto;

      .icon {
        display: block;
        position: absolute;
        left: -21px;
        z-index: -1;
        transform: translateY(-76%) rotate(-29deg);
      }
    }
    .select_categories__text {
      display: flex;
      width: 70%;
      height: auto;
      padding: 3rem;
    }
  }

  .select_categories__bloc_content {
    display: flex;
    width: 40%;
    height: auto;
  }
}
