.sliderShow__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 3px solid blue;
  overflow: hidden;

  .sliderShow__title {
    padding: 2rem;
    cursor: none;
  }

  .carousel_slide {
    position: relative;
    // overflow: hidden;
    width: 180%;
    height: auto;
    border: 4px solid red;
    margin-top: 3rem;

    .carousel_slide__track {
      display: flex;
      width: calc(100%);
      height: auto;
      animation: scroll 20s linear infinite;

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        45% {
          transform: translateX(
            -10%
          ); /* Défile sur toute la largeur des éléments dupliqués */
        }
        55% {
          transform: translateX(-10%); /* Pause à mi-chemin */
        }
        75% {
          transform: translateX(-10%); /* Pause à mi-chemin */
        }
        100% {
          transform: translateX(0); /* Retour au début */
        }
      }

      &:hover {
        animation-play-state: paused;
      }

      .carousel_slide__bloc__img {
        display: flex;
        flex-shrink: 0;
        width: 300px;
        height: auto;
        flex-direction: column;
        overflow: hidden;
        margin-right: 5px;

        .carousel_slide__img {
          padding: 1rem;
          border: 3px solid whitesmoke;
          width: 100%;
          height: 350px;
          object-fit: cover;
          transition:
            transform 0.3s ease-in-out,
            border 0.3s ease-in-out;
        }

        &:hover .carousel_slide__img {
          transform: scale(1.1);
          border: none; /* Supprimer la bordure lors du survol */
        }
      }

      .title_slide__content {
        padding: 2rem;

        .title_slide {
          margin-top: 0;
        }
      }
    }
  }
}
