.sliderShow__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  // border: 3px solid rgb(255, 0, 195);
  margin: 0 auto;

  .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    // border: 7px solid green;

    .carousel__track {
      display: flex;
      width: max-content;
      height: auto;

      @keyframes scroll {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      /* Applique l'animation uniquement lorsque isHovered est faux */
      &:not(:hover) {
        animation: scroll 20s linear infinite;
      }

      /* Annule l'animation lorsque isHovered est vrai */
      &:hover {
        animation: none;
      }

      .carousel__bloc__img {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        max-width: 300px;
        height: auto;
        flex-direction: column;
        border: 3px solid blue;
        overflow: hidden;
        margin-right: 5px;

        .carousel__img {
          border: 3px solid whitesmoke;
          width: 100%;
          height: 12rem;
          object-fit: cover;
          overflow: hidden;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          transform: scale(1.05);
        }
      }

      .title__content {
        background-color: whitesmoke;
        padding: 1rem;

        .title {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .sliderShow__container {
    .carousel {
      .carousel__track {
        .carousel__bloc__img {
          max-width: 270px; // Remplace 'width' par 'max-width' pour une consistance avec les styles principaux
          border: 3px solid red;

          .carousel__img {
            height: 10rem;
            overflow: hidden;
          }
        }
      }
    }
  }
}
