.button {
  background-color: transparent;
  border: 2px solid gray;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  margin: 1rem;
  // cursor: none;
  cursor: pointer;

  &:hover {
    border: 2px solid whitesmoke;
  }
}
