.checkboxPage_container {
  display: flex;
  height: auto;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  right: 0;

  .categoriespages_container {
    display: flex;
    width: 50%;
    height: auto;
  
  }
}
