.select_categories {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 3rem;
  position: relative;
}

.select_categories__header {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;

  .title {
    display: flex;
    position: relative;
    z-index: 1;
    padding: 2rem;
    width: 100%;
    height: auto;
  }

  .icon {
    display: block;
    position: absolute;
    left: -21px;
    z-index: -1;
    transform: translateY(-76%) rotate(-29deg);
  }
}

.select_categories__container {
  display: flex;
  width: 100%;
  height: auto;

  .select_categories__bloc {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    // border: 3px solid lime;
  }

  .select_categories__bloc_content {
    display: flex;
    width: 40%;
    height: auto;
    // border: 3px solid red;
  }
}
