.select_products {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 30px;
  padding: 3rem;
  position: relative;

  .select_products__header {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: column;

    .title {
      display: flex;
      position: relative;
      z-index: 1;
      padding: 2rem;
      width: 100%;
      height: auto;

      .icon {
        display: block;
        position: absolute;
        left: -21px;
        z-index: -1;
        transform: translateY(-76%) rotate(-29deg);
      }
    }
    .select_products__text {
      display: flex;
      width: 70%;
      height: auto;
      padding: 3rem;
    }
  }

  // .select_products__bloc_content {
  //   display: flex;
  //   width: 40%;
  //   height: auto;
  //   border: 3px solid red;
  // }
}
