.imageGallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .select_big_img {
    position: relative;
    overflow: hidden;

    .img {
      object-fit: cover;
      padding-top: 1rem;
      max-width: 350px;
      height: auto;
      cursor: zoom-in;
    }
  }

  .loupe {
    position: absolute;
    width: 350px;
    height: 380px;
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;
  }

  .zoomed_image {
    position: absolute;
    transform: scale(2);
    transform-origin: top left;
    cursor: zoom-in;
  }

  .thumbnail_container {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 1rem;
  }

  .thumbnail {
    object-fit: cover;
  }
}
