.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background-color: transparent;
  margin: 0;
}

.heading {
  font-weight: bold;
  font-size: 25px;
  color: blue;
  text-align: center;
  .icons_google_github {
    cursor: pointer;
  }
}

.subHeading {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.form {
  background-color: rgb(241 237 242);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: column;
  background-color: #7fdeee;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  margin-top: 10px;
  align-items: center;
  transition: transform 0.2s;
  &:hover {
    background: #b8ebf4;
    transform: scale(1.2);
  }
  p {
    color: gray;
  }
}
