.sliderCompt {
  display: flex;
  width: 100%;
  height: 100%;
  //   border: 3px solid red;
  justify-content: center;

  .sliderCompt__container {
    display: flex;
    width: 100%;
    height: auto;
    // border: 3px solid blue;
    flex-direction: column;
  }
}
