.sliderCompt {
  display: flex;
  width: 100%;
  height: 100%;
  //border: 3px solid yellow;
  justify-content: center;
  padding: 5rem;
  margin: 5rem;

  .sliderCompt__container {
    display: flex;
    width: 100%;
    height: auto;
    // border: 3px solid blue;
    flex-direction: column;
  }
}
