.user_container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .user_greeting {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      text-align: center;
    }
  }

  .user_content {
    display: flex;
    width: 100%;
    height: 100%;

    .user_sidebar {
      display: flex;
      width: 25%;
      height: auto;
      position: -webkit-sticky;
      position: sticky;
      background: rgba(245, 245, 245, 0.5);
      padding: 20px;
      flex-direction: column;

      .profile_picture_wrapper {
        display: flex;
        width: 55px;
        height: 55px;
        padding: 4px;
        align-items: center;
        transition: transform 0.2s;

        .icon_palm {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .profile_bio {
        font-size: 14px;
        padding-bottom: 20px;
        text-align: left;
      }

      .profile_name {
        font-size: 14px;
        text-align: left;
        h3 {
          font-size: 20px;
          font-weight: bold;
          padding-bottom: 10px;
          text-transform: capitalize;
        }
      }
      .user_join_date {
        font-size: 12px;
        font-weight: 500;
      }

      .logout_button {
        display: flex;
        align-items: center;
        p {
          margin-right: 10px;
        }
      }
    }

    .main_content {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;

      .user_info_header {
        margin-top: 20px;
        width: 100%;
        height: 100%;
        margin-top: 20px;
      }
    }
  }
}
/////////////////// RESPONSIVE /////////////////
@media screen and (max-width: 768px) {
  .user_container {
    .user_content {
      padding: 0.5rem;
      flex-direction: column;
      .user_sidebar {
        width: 100%;
      }
    }
  }
}
