.container_filter_products {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 3rem 0;
  justify-content: center;
  flex-direction: column;

  .filter_products__list {
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    justify-content: flex-end;

    .filter_products__list__box {
      display: flex;
      width: auto;
      height: auto;
      flex-wrap: wrap;
      flex-direction: column;
      //border: 3px solid red;

      .filter_products__item {
        width: 17rem;
        height: auto;
        display: flex;
        margin-top: 0.3rem;

        .check_section {
          width: 100%;
          height: auto;
          display: flex;
        }

        .custom_checkbox {
          color: gray;
          padding-left: 0.3rem;
          align-items: center;
          display: flex;
        }
      }

      .__filtered_products {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 2rem;
      border: 2px solid gray;
      border-radius: 0.5rem;
      width: 1.3rem;
      height: 1.3rem;
      background-color: #fff;

      &:checked {
        background-color: gray;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }
}
