.container_filter_products_compt {
  display: flex;
  width: 100%;
  height: auto;
  margin: 3rem 3rem;
  //justify-content: center;
  flex-direction: column;
  border: 4px solid red;

  .__filtered_products_compt__empty_choice {
    display: flex;
    width: 100%;
    height: 50vh;
    //background-color: pink;
    border: 4px solid rgb(0, 255, 213);
    position: relative;
    justify-content: center;
    flex-direction: column;

    .bg__img {
      object-fit: contain;
      -webkit-filter: opacity(9%);
      filter: opacity(9%);
      // object-position: bottom;
    }
    #bg__img_title,
    #bg__img_text {
      justify-content: center;
      display: flex;
      width: 100%;
      height: auto;
      border: 4px solid blue;
      align-self: center;
      color: #000;
    }
  }
  .filter_products_compt__list {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: flex-end;
    border: 4px solid #db0bea;

    .filter_products_compt__list__box {
      display: flex;
      width: auto;
      height: auto;
      flex-wrap: wrap;
      flex-direction: column;
      //border: 3px solid red;

      .filter_products_compt__item {
        width: 22rem;
        height: auto;
        display: flex;
        margin-top: 0.3rem;
        border: 7px solid rgb(234, 255, 0);

        .check_section {
          width: 100%;
          height: auto;
          display: flex;
        }

        .custom_checkbox {
          color: gray;
          padding-left: 0.3rem;
          align-items: center;
          display: flex;
        }
      }

      .__filtered_products_compt {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 2rem;
      border: 2px solid gray;
      border-radius: 0.5rem;
      width: 1.3rem;
      height: 1.3rem;
      background-color: #fff;
      cursor: pointer;

      &:checked {
        background-color: gray;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }
}

////////////// RESPONSIVE //////////////////////
@media (max-width: 768px) {
  .container_filter_products_compt {
    margin: 0;
    border: 4px solid rgb(208, 0, 255);
    .filter_products_compt__list {
      justify-content: center;
      border: 4px solid #0b0fea;
    }
  }
}
