.flowers__section {
  display: flex;
  width: 100%;
  height: auto;
  // border: 4px solid red;

  .flowers__container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;

    .display_all_flowers {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .title__content {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;

        .title {
          display: flex;
          align-items: center;
          width: 100%;
          height: auto;

          .icon {
            display: block;
            transform: translateY(-5%) rotate(-29deg);
          }
        }
      }

      .flowers_cards {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;

        .flowers_cards__display {
          display: flex;
          width: auto;
          height: auto;

          .flowers_bloc {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: center;
            flex-direction: column;

            .flowers_bloc__searchbar {
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;

              .flowers__searchflowers {
                display: flex;
                width: auto;
                height: auto;
                justify-content: center;
                padding: 2rem;
              }

              .flowers__searchtypeflowers {
                display: flex;
                width: auto;
                height: auto;
                justify-content: center;
                padding: 2rem;
              }
            }

            .data_group__container {
              display: flex;
              width: 100%;
              height: auto;
              flex-wrap: wrap;
              justify-content: center;

              .data_group__products {
                display: flex;
                padding: 1rem;
                border-radius: 30px;
                width: 24rem;
                height: 24rem;
                justify-content: center;
                margin: 1rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                &:hover {
                  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                }

                .content_flowers {
                  display: flex;
                  flex-direction: column;
                  .title__content {
                    display: flex;
                    width: 100%;
                    height: auto;
                    align-items: center;
                    justify-content: center;

                    .title {
                      display: flex;
                      align-items: center;
                      width: 100%;
                      height: auto;
                      position: relative;
                      z-index: 1;
                      justify-content: center;
                      color: #000;
                      font-size: 27px;
                      .icon {
                        display: block;
                        transform: translateY(-5%) rotate(-3deg);
                      }
                    }
                  }
                  .flowers__infos {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;

                    .__price_content {
                      font-size: 1rem;
                      text-align: end;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
