.header_container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;

  li {
    display: flex;
    width: 100%;
    height: auto;
    // border: 2px solid white;
    justify-content: flex-end;
    padding: 0.5rem;
  }
}
