// headerImg.module.css

.container {
  position: relative;
  width: 450px;
  height: 609px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.container.loaded {
  opacity: 1;
  z-index: 4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 26px 3px #1d4a1d;
  border: inherit;
  border-color: transparent;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  z-index: 4;
}

@media only screen and (max-width: 1440px) {
  .container {
    width: 344px;
    height: 462px;
  }
}
