.filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.title {
  white-space: nowrap;
}

.priceSlider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hr {
  margin: 20px 0;
}
