.container_filter_products {
  display: flex;
  width: 100%;
  height: auto;

  .products_list {
    display: flex;
    width: 100%;
    height: auto;
    // border: 3px solid blue;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;
    padding: 2rem;

    .products_text {
      display: flex;
      width: 55%;
      height: auto;
      // justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 2rem;
    }

    .__box {
      display: flex;
      width: auto;
      height: auto;
      // border: 3px solid black;
      flex-wrap: wrap;
      justify-content: center;

      .products_list_item {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        // border: 2px solid pink;
        margin-top: 0.3rem;

        .check_section {
          width: 10rem;
          height: auto;
          display: flex;
        }

        .custom_checkbox {
          color: gray;
          padding-left: 0.3rem;
          align-items: center;
          display: flex;
        }
      }

      .__filtered_products {
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
        padding: 2rem;
        // justify-content: center;
        // // border: 2px solid gray;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 2rem;
      padding: 0.1rem;
      border: 0.25rem solid gray;
      border-radius: 0.5rem;
      width: 1em;

      &::before {
        content: "";
        width: 1.4rem;
        height: 1.4rem;
        clip-path: polygon(
          20% 0%,
          0% 20%,
          30% 50%,
          0% 80%,
          20% 100%,
          50% 70%,
          80% 100%,
          100% 80%,
          70% 50%,
          100% 20%,
          80% 0%,
          50% 30%
        );
        transform: scale(0);
        background: linear-gradient(
          135deg,
          #ff1e9c99,
          #ff1ea499,
          #ff1fbc99,
          #ff1fde99,
          #f620ff99,
          #c721ff99,
          #9723ff99,
          #6a24ff99,
          #4125ff99,
          #252aff99,
          #2641ff99,
          #2649ff99
        );
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }
}
