.container_filter_products {
  display: flex;
  width: 100%;
  height: auto;

  .products_list {
    display: flex;
    width: 100%;
    height: auto;
    // border: 3px solid blue;
    justify-content: flex-end;
    position: relative;
    flex-direction: column;

    .products_text {
      display: flex;
      width: 55%;
      height: auto;
      // justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 2rem;
      // border: 2px solid red;
      position: absolute;
      // margin-top: 3rem;
    }
    .__box {
      display: flex;
      width: auto;
      height: auto;
      // border: 3px solid black;
      flex-wrap: wrap;
      margin: 2rem;
      flex-direction: column;

      .products_list_item {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        // border: 2px solid pink;
        margin-top: 0.3rem;

        .check_section {
          width: 10rem;
          height: auto;
          display: flex;
        }
      }
    }
    .__filtered_products {
      display: flex;
      width: 100%;
      height: auto;
      position: relative;
      // padding: 2rem;
      justify-content: center;
      // // border: 2px solid gray;
      align-items: center;
      flex-wrap: wrap;
      // margin-top: 11rem;
    }
  }
}

/* 

.categories_list {
  list-style: none;
  padding: 0;
}

.categories_list li {
  margin-bottom: 0.5rem;
}

.categories_list_item {
  display: flex;
  justify-content: space-between;
}

.categories_list li:last-child {
  border-top: 1px solid red;
  margin-top: 1rem;
  padding-top: 1rem;
}

.categories_list_tem label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
} */
