.products_section {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  // border: 3px solid red;
  border-radius: --border-radius;
  padding: 3rem;
  position: relative;

  .products_container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    // border: 3px solid blue;

    .display_allproducts {
      display: flex;
      width: 80%;
      height: auto;
      align-items: center;
      flex-wrap: wrap;

      .title {
        display: flex;
        position: relative;
        z-index: 1;
        padding: 2rem;
        width: auto;
        height: auto;
        // border: 3px solid turquoise;
        .icon {
          display: block;
          position: absolute;
          left: -21px;
          z-index: -1;
          transform: translateY(-76%) rotate(-29deg);
        }
      }

      .display_allproducts__container {
        display: flex;
        width: 100%;
        height: auto;
        // border: 8px solid violet;

        .display_allproducts__text {
          display: flex;
          width: 100%;
          height: auto;
          // border: 3px solid yellow;
        }

        .display_allproducts__content {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          justify-content: center;
          flex-direction: column;
          // border: 5px solid rgb(255, 47, 158);

          .display_allproducts__cards {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            position: relative;
            flex-direction: column;
            // border: 3px solid yellow;
          }

          .display_allproducts__infos {
            display: flex;
            // border: 3px solid gray;
            flex-wrap: wrap;
            // justify-content: center;
            margin: 1rem;
            border-radius: --border-radius;
            padding: 1rem;
            width: auto;

            .display_allproducts__subtitle {
              display: flex;
              width: 100%;
              height: auto;
              align-items: center;
              padding: 14px;
              flex-wrap: wrap;
            }

            .data_group_products {
              display: flex;
              padding: 20px;
              border-radius: --border-radius;
              width: 12rem;
              height: 22rem;
              justify-content: center;
              margin: 1rem;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              transition: 0.3s;

              &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
              }
              .data_group_products__categories {
                display: flex;
                flex-direction: column;

                .bloc_img_products {
                  display: flex;
                  // border: 3px solid pink;
                  width: auto;
                  height: auto;
                  justify-content: center;
                  padding: 0.5rem;
                }
              }

              .infos_content {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .display_allproducts__second_bloc {
          display: flex;
          width: 33rem;
          height: 100%;
          flex-wrap: wrap;
          // border: 7px solid pink;

          .__checkbox {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: center;
          }
        }
      }
    }
  }
}
