.container {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
  width: auto;
  height: auto;
  border: 3px solid pink;
}
/* 
.category_list {
  width: 100%;
  margin: 0 auto;
}

.category_list {
  list-style: none;
  padding: 0;
}

.category_list li {
  margin-bottom: 0.5rem;
}

.categories_list_item {
  display: flex;
  justify-content: space-between;
}

.category_list li:last-child {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}

.categories_list_tem label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
} */
