.navbar {
  display: flex;
  height: auto;
  width: 100%;
  top: 0;
  position: sticky;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  background-color: none;
  padding: 2rem;
  border: 7px solid blue;
  justify-content: space-between;
  .__logo {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;

    .__img {
      max-height: 8rem;
      object-fit: contain;
      position: relative;
      width: auto;
    }
  }
  .__navbar_container {
    display: flex;
    align-items: center;
    border: 2px solid salmon;

    li {
      display: flex;
      border: 2px solid blueviolet;
      margin-right: 20px;
      align-items: center;
    }

    .__link_navbar {
      display: flex;
      width: 100%;
      height: auto;

      .link {
        display: flex;
        list-style: none;
        text-decoration: none;
        //   margin: 10px;
        color: blue;
        font-size: 3rem;
        padding: 0.5rem;
      }
    }
  }
}
