.navbar {
  display: flex;
  height: auto;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  background-color: none;
  padding: 1rem 1rem 0;

  .__logo {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    position: absolute;
    top: 0;
    position: relative;
    z-index: 999;
  }
  .__navbar_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 3;

    li {
      display: flex;
      align-items: center;
      z-index: 3;
      padding: 1rem;
    }

    .__link_navbar {
      display: flex;
      width: 100%;
      height: auto;
      color: gray;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .__link_navbar_user_cart {
      display: flex;
      width: auto;
      height: auto;
      color: gray;
      align-items: flex-end;
      z-index: 3;
      align-content: center;
      align-content: center;
      align-items: center;
    }
  }

  .btn_cart {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;

    .btn_cart__items_number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background-color: grey;
      color: #fff;
      border-radius: 50%;
      font-size: 14px;
    }
  }

  .btn_cart__items_delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
    color: gray;
    z-index: 3;
  }
}
