.navbar {
  display: flex;
  height: auto;
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  background-color: none;
  padding: 1rem 1rem 0;
  // border: 4px solid red;

  .__logo {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    border: 4px solid red;
    justify-content: center;
    position: absolute;
    top: 0;
  }
  .__navbar_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 3px solid blue;
    width: 100%;
    height: 12rem;
    position: relative;
    z-index: 3;

    li {
      display: flex;
      border: 2px solid turquoise;
      align-items: center;
      /* justify-content: space-around; */
      padding-right: 1rem;
      z-index: 3;
    }

    .__link_navbar {
      display: flex;
      width: auto;
      height: auto;
      color: gray;
      justify-content: flex-end;
      align-items: flex-end;
      border: 3px solid green;
    }

    .__link_navbar_user_cart {
      display: flex;
      width: auto;
      height: auto;
      color: gray;
      /* justify-content: flex-end; */
      align-items: flex-end;
      border: 3px solid pink;
      z-index: 3;
      align-content: center;
      align-content: center;
      align-items: center;
    }
  }
}
