.container_filter_flipcart {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  flex-direction: column;
}

.display_infos_animecart {
  display: flex;
  border: 3px solid #000;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 2rem;
  border-radius: 30px;
  padding: 2rem;

  .title {
    display: block;
    position: relative;
    z-index: 1;
    padding: 2rem;

    .icon {
      display: block;
      position: absolute;
      left: -21px;
      z-index: -1;
      transform: translateY(-76%) rotate(-29deg);
    }
  }
  .products_flipcart_list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .__box {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cardsContainer {
    display: flex;
    width: auto;
    height: auto;
  }
}
