.flipcart {
  display: flex;
  width: 100%;
  height: auto;
  border: 3px solid red;

  .container_filter_flipcart {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;

    .display_animecartfilter {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .title__content {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;

        .title {
          display: flex;
          align-items: center;
          width: 100%;
          height: auto;
          position: relative;
          z-index: 1;
          .icon {
            display: block;
            position: absolute;
            left: -21px;
            z-index: -1;
            transform: translateY(-5%) rotate(-29deg);
          }
        }
      }
      .display_infos_animecart {
        display: flex;
        // border: 3px solid gray;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 30px;

        .title__content {
          display: flex;
          width: 100%;
          height: auto;
          align-items: center;
          justify-content: center;

          .title {
            display: flex;
            align-items: center;
            padding: 2rem;
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
            .icon {
              display: block;
              position: absolute;
              left: -45px;
              z-index: -1;
              transform: translateY(-9%) rotate(-29deg);
            }
          }
        }

        .products_flipcart_list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          border: 5px solid pink;
          // flex-direction: column;
          justify-content: center;

          .__box {
            display: flex;
            width: 100%;
            height: auto;
            // border: 3px solid blue;
            justify-content: center;
            position: relative;
            flex-wrap: wrap;
            margin-top: 2rem;
            padding: 1rem;

            .cardsContainer {
              display: flex;
              width: auto;
              height: auto;
              flex-wrap: wrap;
              // border: 3px solid red;
              align-items: center;
              margin: 0.7rem;
            }
          }
        }
      }
    }
  }
}
