.flipcart {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  // border: 4px solid violet;

  .container_filter_flipcart {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    // border: 4px solid lime;

    .display_infos_animecart {
      display: flex;
      border: 3px solid #000;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      padding: 2rem;
      // flex-wrap: wrap;

      .title {
        display: flex;
        position: relative;
        z-index: 1;
        padding: 2rem;
        width: 77rem;
        height: auto;

        .icon {
          display: block;
          position: absolute;
          left: -21px;
          z-index: -1;
          transform: translateY(-76%) rotate(-29deg);
        }
      }

      .products_flipcart_list {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        // border: 5px solid pink;
        // flex-direction: column;
        justify-content: center;

        .__box {
          display: flex;
          max-width: 70%;
          height: auto;
          // border: 3px solid blue;
          justify-content: center;
          position: relative;
          flex-wrap: wrap;

          .cardsContainer {
            display: flex;
            width: auto;
            height: auto;
            flex-wrap: wrap;
            // border: 3px solid red;
            align-items: center;
          }
        }
      }
    }
  }
}
