.herocard_container {
  display: flex;
  width: 100%;
  height: 100%;
  // border: 5px solid violet;

  .herocard_bloc {
    display: flex;
    width: 81%;
    height: auto;
    flex-direction: column;
    margin: auto;
    // border: 4px solid white;
    flex-wrap: wrap;

    .herocard_bloc_text {
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      margin: auto;
      padding: 3rem;
      // border: 4px solid turquoise;
    }
  }

  .figure {
    // border: 4px solid yellow;
    position: relative;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(237, 13, 203, 0.8);
    border-radius: 7px;
    padding: 10px;
    margin: 0;
    user-select: none;
    text-wrap: pretty;
    border-radius: 30px;

    .card {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 7px;
      padding: 28px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 30px;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        border-radius: 5px;
      }

      h2 {
        font-size: 200%;
        line-height: 110%;
        margin: 0 0 7px 0;
        color: #fff;
        background-color: #111;
        border-radius: 100%;
      }

      h4 {
        font-size: 110%;
        line-height: 120%;
        font-weight: 700;
        margin: 0 0 13px 0;
        color: #bbb;
        font-style: italic;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 20px 0;
        padding-left: 20px;
        border-left: 1px solid #fff;

        p {
          color: #999;
          margin: 0;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        transition: all 0.6s ease !important;
        border-radius: 30px;

        &:hover {
          color: gray;
          transition: all 0.6s ease !important;
        }

        &::after {
          position: absolute;
          right: 100%;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            135deg,
            #ff1e9c99,
            #ff1ea499,
            #ff1fbc99,
            #ff1fde99,
            #f620ff99,
            #c721ff99,
            #9723ff99,
            #6a24ff99,
            #4125ff99,
            #252aff99,
            #2641ff99,
            #2649ff99
          );
          content: "";
          z-index: -1;
          transition: all 0.6s ease;
        }

        &:hover::after {
          right: 0;
          transition: all 0.6s ease !important;
        }

        svg {
          width: 23px;
          height: auto;
          fill: #fff;
          margin-left: 5px;
          transition: all 0.6s ease;
        }

        &:hover svg {
          margin-left: 10px;
          fill: #000;
          transition: all 0.6s ease !important;
        }
      }
    }

    &:hover {
      background: linear-gradient(
        135deg,
        #ff1e9c99,
        #ff1ea499,
        #ff1fbc99,
        #ff1fde99,
        #f620ff99,
        #c721ff99,
        #9723ff99,
        #6a24ff99,
        #4125ff99,
        #252aff99,
        #2641ff99,
        #2649ff99
      );
    }
  }
}
