.starproducts__section {
  display: flex;
  width: 100%;
  height: auto;
  //border: 3px solid pink;

  .starproducts__container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    // border: 3px solid blue;

    .display_starproducts {
      display: flex;
      width: auto;
      height: auto;
      align-items: center;
      /* justify-content: space-evenly; */
      flex-wrap: wrap;
      margin-bottom: 2rem;
      flex-direction: column;

      .title__content {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;

        .title {
          display: flex;
          align-items: center;
          width: 100%;
          height: auto;
          justify-content: center;
          text-align: center;
        }
      }

      .images_starproducts {
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        //border: 3px solid red;
      }

      .display_all_starproducts {
        display: flex;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        justify-content: center;
        // display: flex;
        // width: 100%;
        // height: auto;
        // align-items: center;
        // justify-content: center;
        // //border: 3px solid black;

        .starproducts__cards {
          display: flex;
          width: 100%;
          height: 100%;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin-top: 3rem;

          .title_starproducts_products {
            padding-left: 2rem;
          }

          .display_infos__products {
            display: flex;
            height: auto;
            width: 25rem;
            margin: 1rem;
            //border: 3px solid rgb(16, 222, 20);

            .data_group_starproducts {
              display: flex;
              justify-content: center;
              width: 100%;
              height: auto;

              .content_starproducts {
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;

                .starproducts__cards_infos {
                  display: flex;
                  width: auto;
                  flex-direction: column;
                  //border: 3px solid blue;
                  border: 1px solid whitesmoke;
                  padding: 1rem;

                  .starproducts__infos {
                    display: flex;
                    width: auto;
                    flex-direction: column;
                    //border: 3px solid rgb(255, 0, 200);
                    height: auto;

                    .title {
                      display: flex;
                      align-items: center;
                      width: 100%;
                      height: auto;
                      position: relative;
                      z-index: 1;
                      // justify-content: center;
                    }

                    .price_content {
                      font-weight: bold;
                    }

                    .title__content {
                      display: flex;
                      width: 100%;
                      height: auto;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
