.carousel_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 3px solid blue;
  justify-content: center;
}

.carousel {
  display: inline-block;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carousel_slide {
  display: flex;
}

.carousel_item {
  padding: 0 10px;
}

.inner_container {
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid red; */
}

.image_container {
  display: flex;
  width: auto;
  height: 15rem;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid red; */
  justify-content: center;
}

.carousel_img {
  width: 22rem;
  height: 15rem;
  overflow: hidden;
  border: 4px solid turquoise;
}

.title_content {
  text-align: center;
  margin-top: 10px;
}

.prev_button,
.next_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 4rem;
  cursor: none;
  z-index: 10;
  color: #000;
  border: none;
}

.prev_button {
  left: 10px;
}

.next_button {
  right: 10px;
}

/* .prev_button:hover,
.next_button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  width: 3rem;
  height: 6rem;
  display: flex;
} */
