.header_container {
  display: flex;
  width: auto;
  height: auto;
  // z-index: 4;

  .__session_users {
    display: flex;
    width: auto;
    height: 100%;
    /* padding: 0.5rem; */
    align-items: center;
    justify-content: center;
    border: 3px solid limegreen;

    .icon_image_user {
      border-radius: 17px;
      border: 2px solid gray;
      padding: 0.5rem;
      background: transparent;

      &:hover {
        background-color: #000;
      }
    }
  }
}
