.header_container {
  display: flex;
  width: auto;
  height: auto;
  border: 2px solid red;

  .__session_users {
    display: flex;
    width: auto;
    height: auto;
    // border: 2px solid white;
    padding: 0.5rem;

    .icon_image_user {
      border-radius: 30px;
      border: 2px solid gray;
      padding: 0.5rem;
      background-image: linear-gradient(
        135deg,
        #ff1e9c99,
        #ff1ea499,
        #ff1fbc99,
        #ff1fde99,
        #f620ff99,
        #c721ff99,
        #9723ff99,
        #6a24ff99,
        #4125ff99,
        #252aff99,
        #2641ff99,
        #2649ff99
      );
      &:hover {
        background: transparent;
      }
    }
  }
}
