.header_container {
  display: flex;
  width: auto;
  height: auto;
  // z-index: 4;

  .__session_users {
    display: flex;
    width: auto;
    height: auto;
    padding: 0.5rem;

    .icon_image_user {
      border-radius: --border-radius;
      border: 2px solid gray;
      padding: 0.5rem;
      background: transparent;

      &:hover {
        background-color: #000;
      }
    }
  }
}
