/* //content: '\2713'; : Définit le contenu du pseudo-élément, représenté ici par le caractère Unicode \2713, qui est une coche (✓). Cela affiche une coche lorsque la case à cocher est cochée. */
.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid grey;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background-color: grey;
  position: relative;
}

.checkbox:checked::before {
  content: "\2713";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 5px;
  top: 0;
}
