.container_filter_categories {
  display: flex;
  height: auto;
  margin-top: 2rem;
  width: 100%;
  height: auto;

  .categories__list {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
    margin-top: -5rem;

    .categories__box {
      display: flex;
      width: 75%;
      height: 100%;
      flex-wrap: wrap;

      .categories__item {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        margin-top: 0.3rem;

        .check_section {
          width: 10rem;
          height: auto;
          display: flex;
        }
      }

      .__filtered_categories {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        flex-wrap: wrap;
        // top: 0;
        z-index: 2;
        position: relative;
        margin-top: 2rem;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 2rem;
      border: 3px solid gray;
      border-radius: 0.5rem;
      width: 1.3rem;
      height: 1.3rem;

      &::before {
        content: "";
        width: 0.9rem;
        height: 0.9rem;
        clip-path: polygon(
          20% 0%,
          0% 20%,
          30% 50%,
          0% 80%,
          20% 100%,
          50% 70%,
          80% 100%,
          100% 80%,
          70% 50%,
          100% 20%,
          80% 0%,
          50% 30%
        );
        transform: scale(0);
        background: linear-gradient(
          135deg,
          #ff1e9c99,
          #ff1ea499,
          #ff1fbc99,
          #ff1fde99,
          #f620ff99,
          #c721ff99,
          #9723ff99,
          #6a24ff99,
          #4125ff99,
          #252aff99,
          #2641ff99,
          #2649ff99
        );
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }
}
