.products_details__section {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;

  .products_details__container {
    display: flex;
    width: 70%;
    height: auto;
    border: 3px solid yellow;
    position: relative;
    justify-content: center;
    flex-direction: column;

    .products_details__bloc {
      display: flex;
      width: 100%;
      height: auto;
      border: 3px solid red;
      position: relative;
      justify-content: center;

      .products_details__title {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        position: absolute;
        top: 40%;
      }
      .images {
        display: flex;
        width: auto;
        height: auto;
        padding: 1rem;
      }
      .products_details__infos {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;

        .products_details__content {
          display: flex;
          width: 100%;
          height: auto;
          flex-direction: column;
          padding: 1rem;
        }
        .display_categories {
          display: flex;
          border: 3px solid #000;
          flex-direction: column;
          padding: 1rem;
          margin: 1rem;
          border-radius: 30px;
        }
      }
    }
  }
}
