.flipcart_container {
  display: flex;
  text-align: center;
  width: 27rem;
  height: 25rem;
  position: relative;

  .flip_card {
    display: flex;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    padding: 0.5rem;

    &.flipped {
      transform: rotateY(180deg);
    }

    .__flip_card__inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;

      .__flip_card__front,
      .__flip_card__back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        border-radius: 30px;
        overflow: hidden;
      }

      .__flip_card__front {
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;

        &:hover {
          background-image: linear-gradient(
              45deg,
              rgba(0, 0, 255, 0.5),
              rgba(255, 255, 0, 0.5)
            ),
            url("/assets/canaimg.webp");
          background-size: cover;
          background-position: center;
          border-radius: 30px;
          transition: 2s ease;
          overflow: hidden;
        }
      }

      .__flip_card__back {
        background-image: url("/assets/canaimg.webp");
        background-size: cover;
        background-position: center;
        transform: rotateY(180deg);
      }

      .__card__content {
        text-align: center;

        .title__content {
          display: flex;
          width: 100%;
          height: auto;
          align-items: center;
          justify-content: center;

          .title {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
            justify-content: center;
            .icon {
              display: block;
              margin-top: -1rem;
              // z-index: -1;
              // transform: translateY(-5%) rotate(-29deg);
            }
          }
        }

        h3 {
          color: #fff;
        }
        p {
          font-size: 2rem;
          color: #000;
        }
        a {
          color: #fff;
        }
        a:hover {
          background-image: linear-gradient(
            135deg,
            #ff1e9c99,
            #ff1ea499,
            #ff1fbc99,
            #ff1fde99,
            #f620ff99,
            #c721ff99,
            #9723ff99,
            #6a24ff99,
            #4125ff99,
            #252aff99,
            #2641ff99,
            #2649ff99
          );
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
        .image {
          display: flex;
          width: 100%;
          justify-content: center;
          height: 100%;
        }
      }

      .flip_button {
        display: flex;
        width: auto;
        height: 2rem;
        padding: 10px;
        font-size: 16px;
        background-color: transparent;
        color: #ffff;
        border: none;
        border-radius: 5px;
        // cursor: none;
        position: absolute;
        top: 92%;
        left: 79%;
        transform: translateY(-50%);
        justify-content: center;
        p {
          color: gray;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
