.search_components {
  display: flex;
  width: 100%;
  flex-direction: column;

  // .search_components__img {
  //   display: flex;
  //   width: 100%;
  //   height: 45vh;
  //   justify-content: center;
  //   position: relative;
  // }

  .filteredCategories {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .categories__box {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      border-radius: 12rem;
      flex-direction: column;

      .categories__item {
        display: flex;
        margin-top: 0.3rem;
        justify-content: flex-end;

        .check_section {
          width: 10rem;
          display: flex;
          color: gray;
          padding-left: 0.3rem;
          align-items: center;
        }
      }

      .__filtered_categories {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }
}
@media only screen and (max-width: 1440px) {
  .search_components {
    display: flex;
    width: 100%;
    flex-direction: column;

    //     .search_components__img {
    //       display: flex;
    //       width: 100%;
    //       height: 45vh; // Prend toute la hauteur de la vue
    //       justify-content: center;
    //       position: relative;
    //       object-position: 0 -364px,
    //         // Nécessaire pour que l'image prenne tout l'espace du conteneur
    // ;
    //     }
    .bg_img {
      object-position: 0 -565px;
    }
  }
}
