.container_productspages {
  display: flex;
  width: 100%;
  height: auto;
  border: 3px solid yellow;
  border-radius: 30px;
  padding: 2rem;

  .productspages__header {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;

    .__header {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      position: relative;
      z-index: 1;
      position: relative;
      border-radius: 33px;
      border: 3px solid gray;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0, 0, 0, 0.7);
      }

      .productspages__title {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        position: absolute;
        top: 40%;
      }

      .productspages__images {
        display: flex;
        width: auto;
        height: auto;
      }
    }
  }
}
.productspages__section {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;

  .productspages__bloc {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;

    .infos_product {
      display: flex;
      width: auto;
      height: auto;
      flex-direction: column;
      padding: 2rem;
    }

    .productspages_display__categories {
      display: flex;
      width: 100%;
      height: auto;

      .productspages_display__content {
        display: flex;
        width: 100%;
        height: auto;
        // border: 3px solid lime;
        flex-wrap: wrap;
        justify-content: center;

        .list_display__categories {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          margin: 1rem;
          border-radius: 30px;
          width: 12rem;
          height: 22rem;
        }
      }
    }
  }
}
