.productspages_main_title {
  display: flex;
  width: 100%;
  height: auto;
  margin: 3rem 0 1rem -10rem;
}

.container_productspages {
  display: flex;
  min-width: 100%;
  height: auto;
  flex-direction: column;

  .productspages_main_title {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 1rem;
    // border: 3px solid red;
  }

  .productspages__header {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;

    .__header {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      h2 {
        color: gray;
      }
      .productspages__title {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        top: 40%;
      }

      .productspages__images {
        display: flex;
        width: auto;
        height: auto;
      }
    }
  }
}
.productspages__section {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

  .productspages__bloc {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;

    .infos_product {
      display: flex;
      width: auto;
      height: auto;
      flex-direction: column;
      padding: 2rem;
    }

    .productspages_display__categories {
      display: flex;
      width: 100%;
      height: auto;

      .productspages_display__content {
        display: flex;
        width: 100%;
        height: auto;
        // border: 3px solid lime;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;

        .list_display__categories {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          width: auto;
          height: auto;
        }
        .__infos {
          display: flex;
          flex-direction: column;
          //border: 3px solid red;
          margin: 0.5rem;
        }

        h3 {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
